
::-webkit-scrollbar {
    width: 7px;
    height: 11px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: none;
    border-radius: 0px;
    background-color: #fafafa;
}

::-webkit-scrollbar-thumb {
    border-radius: 0px;
    -webkit-box-shadow: none;
    background-color: #ccc;
}

html {
    margin: 0;
    padding: 0;
    font-size: 62.5%;
}

body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-size: 1.4em;
    font-family: Arial;
    overflow: hidden;
    background-color:#ccc;
}

#___loading {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 99999999;
    display: none;
}

    #___loading table {
        /*background-color: #e1e1e1;*/
        width: 100%;
        height: 100vh;
        z-index: 1;
    }

    #___loading .modal-bg {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        z-index: 0;
        background-color: #ccc;
        opacity: 0.5;
    }

#app {
    z-index:0;
}

/*/////////////////////////////////////////////*/

#main {
    display: inline-block;
    width: 100%;
    height: 100%;
    height: 100vh;
}

#nav-left {
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: #fafafa;
}

#search {
    display: inline-block;
    width: 100%;
    height: 30px;
}

    #search i.fa {
        padding: 13px 0 0 6px;
    }

        #search i.fa:hover {
            color: orange;
            cursor: pointer;
        }


#tree {
    display: inline-block;
    position: absolute;
    top: 30px;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    overflow: auto;
}


#tab_view {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
}

#tab_toolbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 32px;
}

#tab_content {
    position: absolute;
    display: inline-block;
    left: 123px;
    top: 32px;
    right: 0;
    bottom: 0;
}

#tab_sidebar {
    position: absolute;
    display: inline-block;
    left: 0;
    top: 32px;
    bottom: 0;
    width: 123px;
    border-right: 1px solid #ccc;
}

#tab_content .w2ui-grid-header {
    border: none;
    background-image: none;
    border-bottom: 1px solid #ccc !important;
    text-align: left;
}

#tab_sidebar .w2ui-sidebar-div .w2ui-node {
    background-color: #fff;
}

#tab_sidebar .w2ui-sidebar-div .w2ui-selected {
    background-image: none;
    border: none;
    background-color: #edf1f6;
    font-weight: bold;
}

    #tab_sidebar .w2ui-sidebar-div .w2ui-selected:before,
    #tab_sidebar .w2ui-sidebar-div .w2ui-selected.w2ui-inactive:before {
        border: none !important;
    }

    #tab_sidebar .w2ui-sidebar-div .w2ui-selected .w2ui-node-caption,
    #tab_sidebar .w2ui-sidebar-div .w2ui-selected:hover .w2ui-node-caption,
    #tab_sidebar .w2ui-sidebar-div .w2ui-selected .w2ui-node-image,
    #tab_sidebar .w2ui-sidebar-div .w2ui-selected:hover .w2ui-node-image,
    #tab_sidebar .w2ui-sidebar-div .w2ui-selected .w2ui-node-image > span,
    #tab_sidebar .w2ui-sidebar-div .w2ui-selected:hover .w2ui-node-image > span,
    #tab_sidebar .w2ui-sidebar-div .w2ui-selected td.w2ui-node-dots,
    #tab_sidebar .w2ui-sidebar-div .w2ui-selected:hover td.w2ui-node-dots {
        color: orange !important;
        text-shadow: none !important;
    }

#tab_sidebar .w2ui-node-dots,
#tab_sidebar .w2ui-node-dots .w2ui-expand {
    width: 5px;
    padding: 0px;
}
