<div id="nav-left">
    <div id="search">
        <!--<input placeholder="Search ..." type="text" />-->
        <i onclick="f_user_toggleClick()" class="fa fa-user-circle-o"></i>
    </div>
    <div id="tree">
        <ul>
            <li data-jstree='{"selected":true,"icon":"icon-basic-home"}'>Home</li>
            <li data-jstree='{"opened":true,"icon":"fa fa-usb"}'>
                API
                <ul>
                    <li data-jstree='{"icon":"icon-basic-cloud"}'>Cloud</li>
                    <li data-jstree='{"icon":"icon-basic-server2"}'>Database</li>
                    <li data-jstree='{"icon":"fa fa-wrench"}'>Database</li>
                    <li data-jstree='{"icon":"icon-basic-case"}'>Bag</li>
                    <li data-jstree='{"icon":"icon-basic-folder"}'>Folder</li>
                    <li data-jstree='{"icon":"icon-ecommerce-sale"}'>Tag</li>
                    <li data-jstree='{"icon":"icon-basic-mail"}'>Mail</li>
                    <li data-jstree='{"icon":"icon-music-bell"}'>Message</li>
                    <li data-jstree='{"icon":"icon-basic-message"}'>Chat</li>
                    <li data-jstree='{"icon":"icon-basic-bookmark"}'>Bookmark</li>
                    <li data-jstree='{"icon":"icon-basic-star"}'>Rate</li>
                    <li data-jstree='{"icon":"icon-basic-question"}'>Question</li>
                </ul>
            </li>
            <li data-jstree='{"icon":"icon-basic-sheet"}'>Abover and Over</li>
            <li data-jstree='{"icon":"icon-basic-sheet"}'>Use First</li>
            <li data-jstree='{"icon":"icon-software-pencil"}'>edit</li>


            <li data-jstree='{"icon":"icon-basic-gear"}'>Setting</li>
            <li data-jstree='{"disabled":true,"icon":"icon-basic-trashcan"}'>Trash</li>
            <li data-jstree='{"opened":true,"icon":"icon-basic-home"}'>
                Items
                <ul>
                    <li data-jstree='{"icon":"icon-basic-server2"}'>Database</li>
                    <li data-jstree='{"icon":"icon-basic-case"}'>Bag</li>
                    <li data-jstree='{"icon":"icon-basic-folder"}'>Folder</li>
                    <li data-jstree='{"icon":"icon-ecommerce-sale"}'>Tag</li>
                    <li data-jstree='{"icon":"icon-basic-mail"}'>Mail</li>
                    <li data-jstree='{"selected":true,"icon":"icon-music-bell"}'>Message</li>
                    <li data-jstree='{"icon":"icon-basic-message"}'>Chat</li>
                    <li data-jstree='{"icon":"icon-basic-bookmark"}'>Bookmark</li>
                    <li data-jstree='{"icon":"icon-basic-star"}'>Rate</li>
                    <li data-jstree='{"icon":"icon-basic-question"}'>Question</li>

                    <li data-jstree='{"icon":"icon-basic-sheet"}'>Abover and Over</li>
                    <li data-jstree='{"icon":"icon-basic-sheet"}'>Use First</li>
                    <li data-jstree='{"icon":"icon-software-pencil"}'>edit</li>


                    <li data-jstree='{"icon":"icon-basic-gear"}'>Setting</li>
                    <li data-jstree='{"disabled":true,"icon":"icon-basic-trashcan"}'>Trash</li>
                </ul>
            </li>
        </ul>
    </div>
</div>